@import "tailwindcss";

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* ======= CLASES ======== */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  .padding-x {
    @apply px-6;
  }

  .padding-y {
    @apply py-6;
  }

  /* button */
  .button-theme {
    @apply active:scale-90 transition-all duration-100 ease-in-out;
  }
}

/* ======= MEDIA QUERIES ======== */

@media (min-width: 760px) {
  .padding-x {
    @apply px-14;
  }
}

/* ======= NAV INDICATOR ANIMACIÓN ======== */
#nav-indicator {
  position: absolute;
  left: 10;
  bottom: -2px;
  height: 2.2px;
  width: 0;
  background-color: #10b981;
  border-radius: 4px;
  transition: width 0.1s ease-in-out;
}

a:hover #nav-indicator,
a.active #nav-indicator {
  width: 100%;
}

/* Estilos para navegadores basados en WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

/* Fondo de la barra de scroll */
::-webkit-scrollbar-track {
  background: #022c22; /* primary950 */
}

/* Barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: #064e3b; /* primary900 */
  border-radius: 4px; /* Bordes redondeados */
}

/* Efecto al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background: #086849; /* Un tono más claro para el hover */
}
