@import "tailwindcss";

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* ======= VARIABLES ======== */
:root {
  --bg-dark: #16191d;
  --color-50: #ecfdf5;
  --primary-300: #6ee7b7;
  --primary-400: #34d399;
  --primary-500: #10b981;
  --primary-900: #064e3b;
  --primary-950: #022c22;
}

/* ======= CLASES ======== */
@layer base {
  .padding-x {
    @apply px-6;
  }

  .padding-y {
    @apply py-6;
  }

  /* button */
  .button-theme {
    @apply active:scale-90 transition-all duration-100 ease-in-out;
  }
}
